.bg {
    background: url(images/terminalas.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;

}

.layer {
    height: 600px;
}

.title {
    width: 30rem;
}

.header-grid {
margin-top: 30rem;
}